*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix::after{
    clear: both;
    content: '';
    display: table;
}

body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

header{
    height: 1100px;
    background-color: #0C325A;
    margin: auto;
    background-image: url('./img/background-header.png');
    background-repeat: no-repeat;
    background-position: 140% 110%;
    color: white;
}

nav{
    width: 80%;
    margin:auto;
}

.logo{
    padding-top: 10px;
    padding-right: 50px;
}

#site_header{
    line-height: 80px;
}
#site_header a{
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    /* padding: 5px 10px; */
    /* text-transform: uppercase; */
    color: white;
}
.navbar{
    width: 80%;
    height: 80px;
}


.logo, .menu_left, .menu_right{
    float: left;
}

.menu_left{
    width: 50%;
    padding-right: 5px 10px;
}
li{
    display: inline-block;
    list-style: none;
    padding-right: 40px;
}

.menu_right{
    text-align: right;
    width: 37.5%;
}

.btn{
    padding: 10px 30px;
}

.btn_outline{
    border: 1px solid white;
    border-radius: 10px;
}

.btn_solid{
    border: 1px solid #7CBB02;
    background-color: #7CBB02;
    border-radius: 10px;
}

.container{
    width: 35%;
    margin: 10%;
}

h1{
    display: inline-block;
    font-size: 70px;
}

.btn_contained{
    border: 1px solid #7CBB02;
    background-color: #7CBB02;
    width: 33%;
    margin-top: 1rem;
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
}