*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.clearfix::after{
    clear: both;
    content: '';
    display: table;
}

body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

header{
    height: 1100px;
    background-color: #0C325A;
    margin: auto;
    background-image: url('./img/background-header.png');
    background-repeat: no-repeat;
    background-position: 140% 110%;
    color: white;
}

nav{
    width: 80%;
    margin:auto;
}

.logo{
    padding-top: 20px;
}

#site_header{
    line-height: 80px;
}
#site_header a{
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    padding: 5px 10px;
    text-transform: uppercase;
    color: white;
}
.navbar{
    width: 80%;
    height: 80px;
}


.logo, .menu_left, .menu_right{
    float: left;
}

.menu_left{
    width: 50%;
}
li{
    display: inline-block;
    list-style: none;
}



